fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
celery
redis
python-multipart
langchain
langchain-huggingface
langchain-community
sentence-transformers
qdrant-client
pypdf
